
* {
	font-family: 'Source Sans Pro', sans-serif;
}

#background{
	fill:#fff;
}

rect.cell{
	fill-opacity:80%;
	rx:5;
}
rect.gate{
	fill:#bcbbc1;
	rx:2;
}

text{
	fill:#333333;
	font-family: 'Source Sans Pro', sans-serif;
}

.tasks{
	fill:#333333;
}


#pm{
	fill:#b3e2cd;
}

#id{
	fill:#fdcdac;
}

#me{
	fill:#cbd5e8;
}

#ee{
	fill:#f4cae4;
}

#es{
	fill:#e6f5c9;
}
.heading{
	/*font-size:10px;*/
}

.cell.active{
	/*fill:#333333;*/
	stroke:rgba(255,0,0,1);
	stroke-width:5px;
}

.cell.inactive{
	fill-opacity:10%;
}