#background{
	fill:#fff;
}

rect{
	fill-opacity:80%;
	rx:10;
}

text{
	fill:#333333;
}

.tasks{
	fill:#333333;
}


#pm{
	fill:#b3e2cd;
}

#id{
	fill:#fdcdac;
}

#me{
	fill:#cbd5e8;
}

#ee{
	fill:#f4cae4;
}

#es{
	fill:#e6f5c9;
}

.cell.active{
	/*fill:#333333;*/
	stroke:rgba(255,0,0,1);
	stroke-width:5px;
}

.cell.inactive{
	fill-opacity:10%;
}